:root {
  @each $color, $colorVal in $colors {
      --#{$color}: #{$colorVal};
  }
}

@each $color, $colorVal in $colors {
    .#{$color} {
      color: #{$colorVal } !important;
    }
    .bg-#{$color} {
      background-color: #{$colorVal } !important;
    }
    .border-#{$color} {
      border-color: #{$colorVal} !important;
    }
}
