@font-face {
    font-family: 'Santral';
    src: url('Santral-Medium.woff2') format('woff2'),
        url('Santral-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Santral';
    src: url('Santral-Medium.woff2') format('woff2'),
        url('Santral-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Santral';
    src: url('Santral-Bold.woff2') format('woff2'),
        url('Santral-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Santral';
    src: url('Santral-Bold.woff2') format('woff2'),
        url('Santral-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Santral Book';
    src: url('Santral-Book.woff2') format('woff2'),
        url('Santral-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Santral Book';
    src: url('Santral-Book.woff2') format('woff2'),
        url('Santral-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

