$hexAlpha: (100: "FF",
  95: "F2",
  90: "E6",
  85: "D9",
  80: "CC",
  75: "BF",
  70: "B3",
  65: "A6",
  60: "99",
  55: "8c",
  50: "80",
  45: "73",
  40: "66",
  35: "59",
  30: "4d",
  25: "40",
  20: "33",
  15: "26",
  10: "1a",
  5: "0d",
  0: "00",
);

$colors: (clr-white: #ffffff,
  clr-black: #000000,
  clr-yellow:#ffc100,
  clr-green:#7fc03a,
  clr-blue:#0071c0,
  clr-blue-text:#233383,
  clr-gray-text:#777677,
  clr-gray-border:#d6d6d6,
);

$clr-white: #ffffff;
$clr-black: #000000;
$clr-yellow:#ffc100;
$clr-green:#7fc03a;
$clr-blue:#0071c0;
$clr-blue-text:#233383;
$clr-gray-text:#777677;
$clr-gray-border:#d6d6d6;