$hexAlpha: (
  100: "FF",
  95: "F2",
  90: "E6",
  85: "D9",
  80: "CC",
  75: "BF",
  70: "B3",
  65: "A6",
  60: "99",
  55: "8c",
  50: "80",
  45: "73",
  40: "66",
  35: "59",
  30: "4d",
  25: "40",
  20: "33",
  15: "26",
  10: "1a",
  5: "0d",
  0: "00",
);

$colors: (
  clr-white: #ffffff,
  clr-black: #000000,
  clr-primary: #e61c1c,
  clr-bg: #323212,
);
