$designSize:1440;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gridCenter {
  display: grid;
  place-items: center;
}

@mixin t02s {
  transition: .2s;
}

@mixin -font-vw($minSize, $size, $maxSize) {
  $viewSize: ($size / $designSize) * 100;
  font-size: $size + px;
  font-size: clamp($minSize, $viewSize + vw, $maxSize);
}

@mixin -px2width($minSize, $sizePX, $maxSize) {
  max-width: $maxSize;
  width: -px2vw($sizePX);
  min-width: $minSize;
}

@mixin -px2height($minSize, $sizePX, $maxSize) {
  max-height: $maxSize;
  height: -px2vw($sizePX);
  min-height: $minSize;
}