$designSize:1440;

@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin gridCenter{
  display:grid;
  place-items: center;
}

@mixin t02s{
  transition: .2s;
}

@mixin -font-vw($size) {
  $viewSize:($size / $designSize) * 100;
  $big:$size * 1.5;
  $small:$size / 1.5;
  
  @if $small < 13 {
      $small:$size - 2;
  }

  font-size:$size + px;
  font-size:clamp($small + px,$viewSize + vw,$big + px);
}