   /* Fonts */

   $Font-1:'PT Sans', sans-serif;
   $Font-2:'Bell MT', sans-serif;
   $Font-3:Arial, Helvetica, sans-serif;
 
   /* Colors */


  $color-1:#223051;
  $color-2:#c02025;
  $color-3:#555555;
  $color-4:#efefef;
  $color-5:#acacac;
  $color-6:#fafafa;
  $color-7:#e4e3de;;

