/* - */
/* LIBRARY CSS >>> */
// @import "./lib";
/* - */
/* <<< LIBRARY CSS  */

/* - */
/* GLOBAL CSS >>> */
@import "./global";
/* - */
/* <<< GLOBAL CSS  */

/* - */
/* STYLES CSS >>> */

:root{
   font-size:16px;
   @media (max-width:480px){
      font-size:14px;
   }
}

html{
   color:$color-1;
   font-family:$Font-1;
   background:#fff;
}

@import "./components";



/*  <<< STYLES CSS */
/* - */