<!doctype html>
<html lang="tr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link defer="defer" rel="stylesheet" href="/content/lib/bootstrap/bootstrap.min.css">
    <!-- İcofont-->
    <link defer="defer" rel="stylesheet" href="/content/lib/icofont/icofont.min.css">
    <!-- Swiper JS CSS-->
    <link defer="defer" rel="stylesheet" href="/content/lib/swiperjs/swiper-bundle.min.css">
    <!-- Animate Command Reset CSS-->
    <link defer="defer" rel="stylesheet" href="/content/lib/animete/animate.min.css">
    <!-- FancyBox Command Reset CSS-->
    <link defer="defer" rel="stylesheet" href="/content/lib/fancybox/jquery.fancybox.min.css">
    <!-- Style Main CSS -->
    <link rel="stylesheet" href="/content/css/style.css">

    <title>Title</title>
</head>

<body>

    <h1 class="components__title">Components Test</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="components text">
                    <div class="components__font">
                        <div class="font-1">
                            Font-1 <br><br>
                            <p>pijamalı hasta yağız şoföre çabucak güvendi - <strong>pijamalı hasta yağız şoföre çabucak
                                    güvendi</strong></p>
                            <p>PİJAMALI HASTA YAĞIZ ŞOFÖRE ÇABUCAK GÜVENDİ - <strong>PİJAMALI HASTA YAĞIZ ŞOFÖRE ÇABUCAK
                                    GÜVENDİ</strong></p>

                        </div>
                        <hr>
                        <div class="font-2">
                            Font-2 <br><br>
                            <p>pijamalı hasta yağız şoföre çabucak güvendi - <strong>pijamalı hasta yağız şoföre çabucak
                                    güvendi</strong></p>
                            <p>PİJAMALI HASTA YAĞIZ ŞOFÖRE ÇABUCAK GÜVENDİ - <strong>PİJAMALI HASTA YAĞIZ ŞOFÖRE ÇABUCAK
                                    GÜVENDİ</strong></p>
                        </div>
                        <hr>

                    </div>
                    <div class="components__link">
                        <h1 class="components__title">LINK</h1>
                        <a class="link" href="http://google.com">This is Link</a>
                        <a class="underline" href="http://google.com">This is Link Underline</a>
                    </div>
                    <div class="components__button">
                        <h1 class="components__title">BUTTON</h1>
                        <a class="btn btn--blue">Button Blue</a>
                        <a class="btn btn--white">Button White</a>
                        <a class="btn btn-gradient--blue">Button Blue Gradient</a>
                        <a class="btn btn-gradient--yellow">Button Yellow Gradient</a>
                    </div>
                    <div class="components__text">
                        <h1 class="components__title">TEXT</h1>

                        <div class="text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium earum corrupti,
                            accusamus saepe distinctio eos, fugiat quos possimus odio alias inventore perspiciatis
                            quisquam vitae repudiandae, consectetur dicta culpa. Maxime, debitis!
                        </div>

                        <div class="text">
                            <div class="title">Title</div>
                            <div class="desc">Desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus
                                similique odio perspiciatis ipsum aut aperiam impedit, maiores odit dolore. Voluptate
                                vero hic magnam nulla magni sunt accusantium aliquam doloribus asperiores.</div>
                        </div>


                    </div>
                    <input type="text" class="textbox" placeholder="Input Text Box">
                    <label for="">Checkbox : </label>
                    <input class="checkbox" type="checkbox" name="" id="">
                </div>

            </div>
        </div>
    </div>




    <!-- jQuery first, then Bootstrap JS -->
    <script href="/content/lib/jquery/jquery-3.5.1.min.js"></script>
    <script defer="defer" href="/content/lib/bootstrap/bootstrap.min.js"></script>
    <!-- Other JS -->
    <script defer="defer" href="/content/lib/fancybox/jquery.fancybox.min.js"></script>



    <!-- Optional Developer Custom JavaScript -->
    <script href="/content/js/main.js"></script>


</body>

</html>