<!doctype html>
<html lang="tr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link defer="defer" rel="stylesheet" href="/content/lib/bootstrap/bootstrap.min.css">
    <!-- İcofont-->
    <link defer="defer" rel="stylesheet" href="/content/lib/icofont/icofont.min.css">
    <!-- Swiper JS CSS-->
    <link defer="defer" rel="stylesheet" href="/content/lib/swiperjs/swiper-bundle.min.css">
    <!-- Animate Command Reset CSS-->
    <link defer="defer" rel="stylesheet" href="/content/lib/animete/animate.min.css">
    <!-- FancyBox Command Reset CSS-->
    <link defer="defer" rel="stylesheet" href="/content/lib/fancybox/jquery.fancybox.min.css">
    <!-- Style Main CSS -->
    <link rel="stylesheet" href="/content/css/style.css">

    <title>Title</title>
</head>

<body>

    <section id="slider" class="slider slider-main">
        <div class="swiper swiper-main">
            <div class="swiper-wrapper">
                <div class="mouseIconScrollDown"></div>
                <div class="swiper-slide">
                    <div class="slider__wrap slider-main__wrap">
                        <div class="slider__bg slider-main__bg">
                            <img src="/content/images/slider/main/1.jpg" alt="">
                        </div>
                        <div class="text slider__text slider-main__text">
                            <div class="slider__title slider-main__title">
                                <p>
                                    Yer altı zenginliklerini, yer üstündekiler için katma değere dönüştürüyoruz.
                                </p>
                            </div>
                            <div class="slider__desc slider-main__desc">
                                <p>LifetimeResort.com has given the average family a chance to vacation to the most
                                    exotic locations all over the world at a fraction of what it would normally cost to
                                    own a timeshare.</p>
                            </div>
                            <div class="slider__link slider-main__link">
                                <a href="#" class="btn btn--white btn--radius">Keşfedin</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <section class="slider slider-photo">
        <div class="swiper swiper-photo">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slider__wrap slider-photo__wrap">
                        <div class="slider__bg slider-photo__bg">
                            <img src="/content/images/slider/photo/1.jpg" alt="">
                        </div>
                        <div class="slider__container slider-photo__container">
                            <div class="slider__img slider-photo__img">
                                <img src="/content/images/slider/2.jpg" alt="">
                            </div>
                            <div class="text slider__text slider-photo__text">
                                <div class="slider__title slider-photo__title">
                                    <p>
                                        Yer altı zenginliklerini, yer üstündekiler için katma değere dönüştürüyoruz.
                                    </p>
                                </div>
                                <div class="slider__desc slider-photo__desc">
                                    <p>LifetimeResort.com has given the average family a chance to vacation to the most
                                        exotic locations all over the world at a fraction of what it would normally cost
                                        to
                                        own a timeshare.</p>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider__wrap slider-photo__wrap">
                        <div class="slider__bg slider-photo__bg">
                            <img src="/content/images/slider/1.jpg" alt="">
                        </div>
                        <div class="slider__container slider-photo__container">
                            <div class="slider__img slider-photo__img">
                                <img src="/content/images/slider/2.jpg" alt="">
                            </div>
                            <div class="text slider__text slider-photo__text">
                                <div class="slider__title slider-photo__title">
                                    <p>
                                        Yer altı zenginliklerini, yer üstündekiler için katma değere dönüştürüyoruz.
                                    </p>
                                </div>
                                <div class="slider__desc slider-photo__desc">
                                    <p>LifetimeResort.com has given the average family a chance to vacation to the most
                                        exotic locations all over the world at a fraction of what it would normally cost
                                        to
                                        own a timeshare.</p>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery first, then Bootstrap JS -->
    <script href="/content/lib/jquery/jquery-3.5.1.min.js"></script>
    <script defer="defer" href="/content/lib/bootstrap/bootstrap.min.js"></script>
    <!-- Other JS -->
    <script defer="defer" href="/content/lib/fancybox/jquery.fancybox.min.js"></script>



    <!-- Optional Developer Custom JavaScript -->
    <script href="/content/js/main.js"></script>


</body>

</html>