.form {
  color: #000;

  form {
    @include flexCenter;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  select {
    width: 100%;
    padding: 15px 25px;
    margin-bottom: 15px;
    font-size: 12px;
    padding-top: 20px;
  }

  input {
    max-height: 50px;
    z-index: 10;
    color: transparent;

    &:focus {
      outline: none !important;
      color: #000;
    }

    &:valid {
      color: #000;
    }

    &:focus + label {
      @include t02s;
      top: 11px;
      font-size: 11.2px;
      font-weight: 900;
    }

    &:valid + label {
      @include t02s;
      top: 11px;
      font-size: 11.2px;
      font-weight: 900;
      color: #000;
    }

    &.invalid:focus:invalid + label {
      top: 11px;
      font-size: 11.2px;
      font-weight: 900;
      color: red;
    }

    &.invalid:invalid + label {
      color: red;
      @include t02s;
      top: 30%;
      left: 42px;
      font-weight: 900;
    }

    &.invalid:focus:invalid {
      border-color: red;
    }

    &.invalid:invalid {
      border-color: red;
    }
  }

  label {
    position: absolute;
    top: 30%;
    left: 42px;
    @include t02s;
    z-index: 5;
    font-size: 13px;
    font-weight: 500;
  }

  button {
    padding: 20px 80px;
    display: block;
    margin-left: auto;
    background: #000;
    color: #fff;
    margin-top: 35px;
  }

  &-contact {
    @media (max-width: 768px) {
      margin-bottom: 35px;
    }
  }

  .warning-area {
    width: 100%;

    &__check {
      margin-top: 35px;
      display: flex;
      line-height: 1.31;
      color: #000;
      font-size: 1rem;
      font-weight: bold;
      align-items: center;
      justify-content: flex-start;

      & input {
        margin-right: 15px;
      }
    }
  }
}

.checkbox {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  background: #fff;
  border: 1px solid #000;
  position: relative;
  @include t02s;
  cursor: pointer;

  &:checked {
    background-color: #000;

    &::before {
      content: "\2713";
      display: block;
      text-align: center;
      color: #fff;
      position: absolute;
      font-weight: bold;
      left: 3px;
      font-size: 9px;
    }
  }
}
