/* STYLES CSS >>> */
/* GLOBAL --->>> */
/* ABSTRACTS --->>> */
/* LIBRARY >>> */
@import url("/content/lib/bootstrap/bootstrap.min.css");
@import url("/content/lib/swiperjs/swiper-bundle.min.css");
@import url("/content/lib/animete/animate.min.css");
@import url("/content/lib/fancybox/jquery.fancybox.min.css");
/* <<< LIBRARY */
/* --- */
/* COLORS >>> */
/* <<< COLORS */
/* --- */
/* VARIABLE >>> */
/* <<< VARIABLE */
/* --- */
/* MIXIN >>> */
/* <<< MIXIN */
/* --- */
/* FUNCTIONS >>> */
/* <<< FUNCTIONS */
/* --- */
/* ANIMATE >>> */
@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}
@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

.anim-shake {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@-webkit-keyframes mymove {
  0% {
    top: 0px;
  }
  25% {
    top: 200px;
  }
  50% {
    top: 100px;
  }
  75% {
    top: 200px;
  }
  100% {
    top: 0px;
  }
}

@keyframes mymove {
  0% {
    top: 0px;
  }
  25% {
    top: 200px;
  }
  50% {
    top: 100px;
  }
  75% {
    top: 200px;
  }
  100% {
    top: 0px;
  }
}

@-webkit-keyframes sliderBullet {
  from {
    padding-right: 0%;
  }
  to {
    padding-right: 2%;
  }
}

@keyframes sliderBullet {
  from {
    padding-right: 0%;
  }
  to {
    padding-right: 2%;
  }
}

@-webkit-keyframes playIconBreath {
  0% {
    width: 40px;
    height: 40px;
    left: 0%;
    top: 0%;
  }
  50% {
    width: 50px;
    height: 50px;
    left: -13%;
    top: -11%;
  }
  100% {
    width: 40px;
    height: 40px;
    left: 0%;
    top: 0%;
  }
}

@keyframes playIconBreath {
  0% {
    width: 40px;
    height: 40px;
    left: 0%;
    top: 0%;
  }
  50% {
    width: 50px;
    height: 50px;
    left: -13%;
    top: -11%;
  }
  100% {
    width: 40px;
    height: 40px;
    left: 0%;
    top: 0%;
  }
}

/* <<< ANIMATE */
/* --- */
/* RESET >>> */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: none;
  outline-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: none;
  outline-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  outline: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* <<< RESET */
/* <<<--- ABSTRACTS */
/* UTILITIES --->>> */
/* U-COLORS >>> */
:root {
  --clr-white-100: #ffffffFF;
  --clr-white-95: #ffffffF2;
  --clr-white-90: #ffffffE6;
  --clr-white-85: #ffffffD9;
  --clr-white-80: #ffffffCC;
  --clr-white-75: #ffffffBF;
  --clr-white-70: #ffffffB3;
  --clr-white-65: #ffffffA6;
  --clr-white-60: #ffffff99;
  --clr-white-55: #ffffff8c;
  --clr-white-50: #ffffff80;
  --clr-white-45: #ffffff73;
  --clr-white-40: #ffffff66;
  --clr-white-35: #ffffff59;
  --clr-white-30: #ffffff4d;
  --clr-white-25: #ffffff40;
  --clr-white-20: #ffffff33;
  --clr-white-15: #ffffff26;
  --clr-white-10: #ffffff1a;
  --clr-white-5: #ffffff0d;
  --clr-white-0: #ffffff00;
  --clr-black-100: #000000FF;
  --clr-black-95: #000000F2;
  --clr-black-90: #000000E6;
  --clr-black-85: #000000D9;
  --clr-black-80: #000000CC;
  --clr-black-75: #000000BF;
  --clr-black-70: #000000B3;
  --clr-black-65: #000000A6;
  --clr-black-60: #00000099;
  --clr-black-55: #0000008c;
  --clr-black-50: #00000080;
  --clr-black-45: #00000073;
  --clr-black-40: #00000066;
  --clr-black-35: #00000059;
  --clr-black-30: #0000004d;
  --clr-black-25: #00000040;
  --clr-black-20: #00000033;
  --clr-black-15: #00000026;
  --clr-black-10: #0000001a;
  --clr-black-5: #0000000d;
  --clr-black-0: #00000000;
  --clr-primary-100: #e61c1cFF;
  --clr-primary-95: #e61c1cF2;
  --clr-primary-90: #e61c1cE6;
  --clr-primary-85: #e61c1cD9;
  --clr-primary-80: #e61c1cCC;
  --clr-primary-75: #e61c1cBF;
  --clr-primary-70: #e61c1cB3;
  --clr-primary-65: #e61c1cA6;
  --clr-primary-60: #e61c1c99;
  --clr-primary-55: #e61c1c8c;
  --clr-primary-50: #e61c1c80;
  --clr-primary-45: #e61c1c73;
  --clr-primary-40: #e61c1c66;
  --clr-primary-35: #e61c1c59;
  --clr-primary-30: #e61c1c4d;
  --clr-primary-25: #e61c1c40;
  --clr-primary-20: #e61c1c33;
  --clr-primary-15: #e61c1c26;
  --clr-primary-10: #e61c1c1a;
  --clr-primary-5: #e61c1c0d;
  --clr-primary-0: #e61c1c00;
  --clr-bg-100: #323212FF;
  --clr-bg-95: #323212F2;
  --clr-bg-90: #323212E6;
  --clr-bg-85: #323212D9;
  --clr-bg-80: #323212CC;
  --clr-bg-75: #323212BF;
  --clr-bg-70: #323212B3;
  --clr-bg-65: #323212A6;
  --clr-bg-60: #32321299;
  --clr-bg-55: #3232128c;
  --clr-bg-50: #32321280;
  --clr-bg-45: #32321273;
  --clr-bg-40: #32321266;
  --clr-bg-35: #32321259;
  --clr-bg-30: #3232124d;
  --clr-bg-25: #32321240;
  --clr-bg-20: #32321233;
  --clr-bg-15: #32321226;
  --clr-bg-10: #3232121a;
  --clr-bg-5: #3232120d;
  --clr-bg-0: #32321200;
}

.clr-white-100 {
  color: #ffffffFF;
}

.clr-white-95 {
  color: #ffffffF2;
}

.clr-white-90 {
  color: #ffffffE6;
}

.clr-white-85 {
  color: #ffffffD9;
}

.clr-white-80 {
  color: #ffffffCC;
}

.clr-white-75 {
  color: #ffffffBF;
}

.clr-white-70 {
  color: #ffffffB3;
}

.clr-white-65 {
  color: #ffffffA6;
}

.clr-white-60 {
  color: #ffffff99;
}

.clr-white-55 {
  color: #ffffff8c;
}

.clr-white-50 {
  color: #ffffff80;
}

.clr-white-45 {
  color: #ffffff73;
}

.clr-white-40 {
  color: #ffffff66;
}

.clr-white-35 {
  color: #ffffff59;
}

.clr-white-30 {
  color: #ffffff4d;
}

.clr-white-25 {
  color: #ffffff40;
}

.clr-white-20 {
  color: #ffffff33;
}

.clr-white-15 {
  color: #ffffff26;
}

.clr-white-10 {
  color: #ffffff1a;
}

.clr-white-5 {
  color: #ffffff0d;
}

.clr-white-0 {
  color: #ffffff00;
}

.clr-black-100 {
  color: #000000FF;
}

.clr-black-95 {
  color: #000000F2;
}

.clr-black-90 {
  color: #000000E6;
}

.clr-black-85 {
  color: #000000D9;
}

.clr-black-80 {
  color: #000000CC;
}

.clr-black-75 {
  color: #000000BF;
}

.clr-black-70 {
  color: #000000B3;
}

.clr-black-65 {
  color: #000000A6;
}

.clr-black-60 {
  color: #00000099;
}

.clr-black-55 {
  color: #0000008c;
}

.clr-black-50 {
  color: #00000080;
}

.clr-black-45 {
  color: #00000073;
}

.clr-black-40 {
  color: #00000066;
}

.clr-black-35 {
  color: #00000059;
}

.clr-black-30 {
  color: #0000004d;
}

.clr-black-25 {
  color: #00000040;
}

.clr-black-20 {
  color: #00000033;
}

.clr-black-15 {
  color: #00000026;
}

.clr-black-10 {
  color: #0000001a;
}

.clr-black-5 {
  color: #0000000d;
}

.clr-black-0 {
  color: #00000000;
}

.clr-primary-100 {
  color: #e61c1cFF;
}

.clr-primary-95 {
  color: #e61c1cF2;
}

.clr-primary-90 {
  color: #e61c1cE6;
}

.clr-primary-85 {
  color: #e61c1cD9;
}

.clr-primary-80 {
  color: #e61c1cCC;
}

.clr-primary-75 {
  color: #e61c1cBF;
}

.clr-primary-70 {
  color: #e61c1cB3;
}

.clr-primary-65 {
  color: #e61c1cA6;
}

.clr-primary-60 {
  color: #e61c1c99;
}

.clr-primary-55 {
  color: #e61c1c8c;
}

.clr-primary-50 {
  color: #e61c1c80;
}

.clr-primary-45 {
  color: #e61c1c73;
}

.clr-primary-40 {
  color: #e61c1c66;
}

.clr-primary-35 {
  color: #e61c1c59;
}

.clr-primary-30 {
  color: #e61c1c4d;
}

.clr-primary-25 {
  color: #e61c1c40;
}

.clr-primary-20 {
  color: #e61c1c33;
}

.clr-primary-15 {
  color: #e61c1c26;
}

.clr-primary-10 {
  color: #e61c1c1a;
}

.clr-primary-5 {
  color: #e61c1c0d;
}

.clr-primary-0 {
  color: #e61c1c00;
}

.clr-bg-100 {
  color: #323212FF;
}

.clr-bg-95 {
  color: #323212F2;
}

.clr-bg-90 {
  color: #323212E6;
}

.clr-bg-85 {
  color: #323212D9;
}

.clr-bg-80 {
  color: #323212CC;
}

.clr-bg-75 {
  color: #323212BF;
}

.clr-bg-70 {
  color: #323212B3;
}

.clr-bg-65 {
  color: #323212A6;
}

.clr-bg-60 {
  color: #32321299;
}

.clr-bg-55 {
  color: #3232128c;
}

.clr-bg-50 {
  color: #32321280;
}

.clr-bg-45 {
  color: #32321273;
}

.clr-bg-40 {
  color: #32321266;
}

.clr-bg-35 {
  color: #32321259;
}

.clr-bg-30 {
  color: #3232124d;
}

.clr-bg-25 {
  color: #32321240;
}

.clr-bg-20 {
  color: #32321233;
}

.clr-bg-15 {
  color: #32321226;
}

.clr-bg-10 {
  color: #3232121a;
}

.clr-bg-5 {
  color: #3232120d;
}

.clr-bg-0 {
  color: #32321200;
}

/* <<< U-COLORS */
/* <<<--- UTILITIES --->>> */
/* LAYOUT --->>> */
/* HEADER >>> */
/* <<< HEADER */
/* --- */
/* BODY >>> */
/* <<< BODY */
/* --- */
/* SECTION >>> */
/* <<< SECTION */
/* --- */
/* FOOTER >>> */
/* <<< FOOTER */
/* <<<--- LAYOUT */
/* COMPONENTS --->>> */
/*  BANNERS >>> */
/* <<< BANNERS  */
/* --- */
/* BUTTONS >>> */
/* <<< BUTTONS  */
/* --- */
/* FORMS >>> */
/* <<< FORMS  */
/* --- */
/* LINKS >>> */
/* <<< LINKS  */
/* --- */
/* SLIDERS >>> */
.slider {
  max-height: 547px;
  height: 28.47222vw;
  min-height: 360px;
}

.slider .swiper {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slider .swiper-slide {
  height: inherit;
}

.slider__wrap {
  position: relative;
  background-color: #000;
  height: inherit;
}

.slider__bg {
  opacity: 0.8;
  height: inherit;
}

.slider__bg img {
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__text {
  font-size: 14px;
  font-size: clamp(12px, 0.97222vw, 16px);
  line-height: 1.45;
  letter-spacing: -0.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 10.41667vw;
  top: 0;
  height: 100%;
  padding-right: 52.08333vw;
}

@media (max-width: 768px) {
  .slider__text {
    padding-right: 0;
  }
}

.slider__title {
  line-height: 1.2;
  letter-spacing: -1px;
  font-size: 42px;
  font-size: clamp(34px, 2.91667vw, 50px);
  margin-bottom: 20px;
}

.slider__desc {
  padding-right: 7.98611vw;
}

.slider-main__text {
  color: #fff;
}

.slider-main__button-control {
  font-size: 30px;
}

@media (max-width: 768px) {
  .slider-main__button-control {
    font-size: 22px;
  }
}

.slider-main__button-control::after {
  content: none;
}

.slider-main__button-next {
  right: 3.47222vw;
}

.slider-main__button-prev {
  left: 3.47222vw;
}

/* <<< SLIDERS  */
/* <<<--- COMPONENTS */
/* <<<--- GLOBAL */
:root {
  background: #fff;
  font-size: 14px;
  font-size: clamp(14px, 0.97222vw, 16px);
}

@media (max-width: 480px) {
  :root {
    font-size: 14px;
    font-size: clamp(14px, 0.97222vw, 14px);
  }
}

/* <<< STYLES CSS */
/*# sourceMappingURL=style.css.map */